*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background: #c53636;
}

.card {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 425px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(153, 153, 153, .25);
    padding: 0.75rem;
}

.card-image {
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 65%;
    background-image: url('img/wp.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 10% 50%;
    position: relative;
}

.card-heading {
    position: absolute;
    left: 50%;
    top: 15%;
    right: 10%;
    font-size: 1.75rem;
    font-weight: 700;
    color: #735400;
    line-height: 1.222;
}

.card-heading small {
    display: block;
    font-size: 0.75em;
    font-weight: 400;
    margin-top: 0.25em;
}

.card-form {
    padding: 2rem 1rem 0;
}

.action {
    margin-top: 2rem;
}

.action-button {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    padding: 15px 20px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

#mulai {
    background: #13AA52;
    border: 1px solid #13AA52;
}

#kembali {
    background: #FF4742;
    border: 1px solid #FF4742;
}

.action-button:focus {
    outline: 0;
}

#mulai:hover,
#mulai:active {
    background-color: initial;
    background-position: 0 0;
    color: #13AA52;
}

#kembali:hover,
#kembali:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.btn {
    padding: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 20px 15px;
    gap: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}